i {
    position: absolute;
    top: 8px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 5rem;
    padding-bottom: 5rem;
    list-style: none;
}

li {
    position: relative;
    width: 240px;
    padding: 20px 0;
    border-radius: 10px;
    background-color: #242629;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        transform: scale(1.10);
    }
}

img {
    margin: 1rem 0;
    width: 210px;
}

h3 {
    padding: 0 .3rem;
    margin-top: 20px;
    align-self: flex-end;
    font-family: "Orbitron", sans-serif;
    font-size: .85rem;
    font-weight: normal;
}