<form [formGroup]="filtersForm" (ngSubmit)="searchGames()">
    <input type="text" placeholder="Search Game" formControlName="title">
    <div>
        <h2>Sort By</h2>
        <button type="button">Alphabetical</button>
        <button type="button">Release date</button>
    </div>
    <div>
        <h2>Filter by</h2>
        <ul>
            <li>
                <p (click)="togglePlatformMenu()">Platform</p>
                <div [class.open]="isPlatformOpen" class="dropdown-menu">
                    <ul formArrayName="platforms">
                        @for(p of platforms; track p.platformId){
                            <li>
                                <label>
                                    <input type="checkbox" [formControlName]="p.name">
                                    <span>{{p.name}}</span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </li>
            <li>
                <p (click)="togglePublisherMenu()">Publisher</p>
                <div [class.open]="isPublisherOpen" class="dropdown-menu">
                    <ul formArrayName="publishers">
                        @for(p of publishers; track p.publisherId){
                            <li>
                                <label>
                                    <input type="checkbox" [formControlName]="p.name">
                                    <span>{{p.name}}</span>
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </li> 
            <li>
                <p (click)="toggleStoreMenu()">Store</p>
                <div [class.open]="isStoreOpen" class="dropdown-menu">
                    <ul formArrayName="stores">
                    @for(s of stores; track s.storeId){
                        <li>
                            <label>
                                <input type="checkbox" [formControlName]="s.name">
                                <span>{{ replaceUnderscore(s.name) }}</span>
                            </label>
                        </li>
                    }
                    </ul> 
                </div>
            </li>
            <li>
                <p (click)="toggleDeveloperMenu()">Developer</p>
                <div [class.open]="isDeveloperOpen" class="dropdown-menu">
                    <ul formArrayName="developers">
                    @for(d of developers; track d.developerId){
                        <li>
                            <label>
                                <input type="checkbox" [formControlName]="d.name">
                                <span>{{d.name}}</span>
                            </label>
                        </li>
                    }
                    </ul>
                </div>
            </li>
            <li>
                <p (click)="toggleLanguageMenu()">Language</p>
                <div [class.open]="isLanguageOpen" class="dropdown-menu">
                    <ul formArrayName="languages">
                    @for(l of languages; track l.languageId){
                        <li>
                            <label>
                                <input type="checkbox" [formControlName]="l.name">
                                <span>{{l.name}}</span>
                            </label>
                        </li>
                    }
                    </ul>
                </div>
            </li>
            <li>
                <p (click)="toggleTagMenu()">Tag</p>
                <div [class.open]="isTagOpen" class="dropdown-menu">
                    <ul formArrayName="tags">
                    @for(t of tags; track t.tagId){
                        <li>
                            <label>
                                <input type="checkbox" [formControlName]="t.name">
                                <span>{{t.name}}</span>
                            </label>
                        </li>
                    }
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</form>
<div class="side-menu-button" (click)="toggleSideMenu()">
    @if (isSideMenuOpen) {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#fffffe">
            <path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z"/>
        </svg>
    } @else {
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#fffffe">
            <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/>
        </svg>
    }
</div>