<nav>
    <div>
        <h4>Games</h4>
        <ul class="games">
            <li>
                <button (click)="navigateTo('playing')">Playing</button>
            </li>
            <li>
                <button (click)="navigateTo('beaten')">Beaten</button>
            </li>
            <li>
                <button (click)="navigateTo('archived')">Archived</button>
            </li>
        </ul>
    </div>
    <div>
        <button (click)="navigateTo('collections')">Collections</button>
    </div>
    <div>
        <button (click)="navigateTo('reviews')">Reviews</button>
    </div>
</nav>