<div class="info">
    @if(userProfile != null){
        <div>
            <img [src]="userProfile.profilePicUrl" alt="">
        </div>
        <h2>{{userProfile.profileName}}</h2>
        <h3>&#64;{{userProfile.profileName}}</h3>
        @if (userProfile.bio) {
            <p>{{userProfile.bio}}</p>
        } @else {
            <p>Write a bio!</p>
        }
    }
    <app-user-stats></app-user-stats>
</div>
<div class="dashboard">
    <div class="collections">
        <h3>Latest collections</h3>
        <div>
            COMING SOON
        </div>
    </div>
    <div class="lat-rev">
        <h3>Latest reviews</h3>
        <div>
            @if (latestReviews && latestReviews.length > 0) {
                @for (r of latestReviews; track r.reviewId; let i = $index) {
                    <app-review [review]="r" [game]="latestReviewGames[i]"></app-review>
                }
            }
        </div>
    </div>
    <div>
        <h3>Recent game beaten</h3>
        <div>
            @if (recentlyBeaten && recentlyBeaten.length > 0) {
            @for (game of recentlyBeaten; track game.userGameId; let i = $index) {
                <img [src]="recentlyBeatenGames[i].coverImageUrl" alt="Game cover image">
            }
            }
        </div>
    </div>
</div>